
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

 body{
    font-family: 'Poppins', sans-serif;
 }
 /* .box-area{
     width: 930px; */
 
 .right-box{
 padding: 40px 30px 40px 40px;
 }
 ::placeholder{
    font-size: 16px;
    
 }
 .rounded-3{
    border-radius: 20px;
}

h2{
    font-weight: 1000;
}
.image{
    width: 50px;
    height:50px ;
}
.Password-icon{
    /* padding-right: 100px; */
    background: url("images/img8.png") no-repeat right;
    background-size: 40px;
    
}
.email-icon{
    /* padding-right: 100px; */
    background: url("images/img7.png") no-repeat right;
    background-size: 40px;
    
}